a {
  text-decoration: none;
  color: white;
}

.navbar {
  background: rgb(62, 171, 207);
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  padding: 20px 20%;
}

.active {
  font-weight: bold;
}
